<!doctype html>

        
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="script.js"></script>
       
    <!-- content -->
    <header>
        <div id="header-bg"></div>
        <h1 class="main-title">Agastya Kalra</h1>
        <section id="subheader">
            <h2>Chess player,<br> software developer, <br>your AI guy.</h2>
            <nav>
                <ul>
                    <li><a href="/" id="back-link">Back to site</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
    <section id="blog" class="info blog-info">
        <h1>All Artwork Posts</h1>
            <%pcounter = 0 %>
            <% @arts.each do |pp| %>
            <% if pcounter > -1 %>
            <article id="project">
            <h2><%= pp.title %></h2>
            <p> <%= pp.description %> </p>
            <p class = "more"> <%= link_to "Read more", artz_path(pp) %> </p>
            </article>
            <% pcounter = pcounter + 1 %>
            <% end %>
            <% end %>
    </section>
    </main>