<!doctype html>

   <header>
        <div id="header-bg"></div>
        <h1 class="main-title">Agastya Kalra</h1>
        <section id="subheader">
            <h2>Chess player,<br> web developer, <br>CS student at UW.</h2>
            <nav>
                <ul>
                    <li><a href="/" id="back-link">Back to site</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
    <section id="blog" class="info blog-info">
        <h1>All Blog Posts</h1>
        <article id="blog-post-1">
            <h2>The Power of Bits!</h2>
            <p> Learn about using bit vectors to solve problems with increased efficiency. The other day my friend challenged me to solve a certain problem in O(n) time, and so of course I took it.</p>
            <a href="/blog/2" class="more">Read More</a>
            </article>    
            <article id="blog-post-2">
            <h2>Knight's Tour: The Journey</h2>
        <p> The knight's tour: get a knight to travel to all squares on a chessboard exactly once. Usually this problem is done with a specific algorithm. Check out how it can be done with depth first search in Racket!</p>
            <a href="/blog/1" class="more">Read More</a>
            </article>
    </section>
    </main>