<div class = "my-content", id = "art-content", style = "text-align: center">
  <h2 class = "my-headTitle" style = "width = 100%;">
    Blog
    <hr>
  </h2>
  <br>
</div>

<div class = "my-post">
  <div class = "my-postText">
<h2 class = "my-postTitle">
  The Power of Bits!
</h2>
  <p class = "my-postDescrip">
    Solving a problem really effectively using binary numbers!
    <br>
    <a href = "/blog/2"> Learn More </a>
  </p>
</div>
  <div class = "my-postImageDiv">
</div>
</div>

<div class = "my-post">
  <div class = "my-postText">
<h2 class = "my-postTitle">
  Knights Tour: The Journey
</h2>
  <p class = "my-postDescrip">
    The long journey of solving the classic problem of the knight's tour effectively! Lots of interesting ideas!
    <br>
    <a href = "/blog/1"> Learn More</a>
  </p>
</div>
  <div class = "my-postImageDiv">
</div>
</div>
