       
    <!-- content -->
    <header>
        <div id="header-bg"></div>
        <h1 class="main-title">Agastya Kalra</h1>
        <section id="subheader">
            <h2>Chess player,<br> software developer, <br>your AI guy.</h2>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <section id="about" class="info about-info">
            <h1>About</h1>
            <div id="about-content">
                <img src="//dl.dropboxusercontent.com/u/61478139/Agastya_Backdrop.jpg" class="about-img">
                <h4>Yo, I'm Agastya.</h4>
                <p>I'm a University Waterloo student who has a passion for chess, AIs, software, digital art, animation, and dance. I enjoy learning new things and solving difficult problems.</p>
            </div>
        </section>
    <section id="blog" class="info blog-info">
        <h1>Blog</h1>
        <div class="blog-post-container">
            <article id="blog-post-1">
            <h2>The Power of Bits!</h2>
            <p> Learn about using bit vectors to solve problems with increased efficiency. The other day my friend challenged me to solve a certain problem in O(n) time, and so of course I took it.</p>
            <a href="/blog/2" class="more">Read More</a>
            </article>    
            <article id="blog-post-2">
            <h2>Knight's Tour: The Journey</h2>
        <p> The knight's tour: get a knight to travel to all squares on a chessboard exactly once. Usually this problem is done with a specific algorithm. Check out how it can be done with depth first search in Racket!</p>
            <a href="/blog/1" class="more">Read More</a>
            </article>
            <a href="/blog"><h3>Check out my blog for more posts!</h3></a>
        </div>
    </section>
    <section id="projects" class="info project-info">
        <h1>projects</h1>
        <div class="projects-container">
            <%pcounter = 0 %>
            <% @portpages.each do |pp| %>
            <% if pcounter < 2 %>
            <article id="project">
            <h2><%= pp.title %></h2>
            <p> <%= pp.description %> </p>
            <p class = "more"> <%= link_to "Read more", portpage_path(pp) %> </p>
            </article>
            <% pcounter = pcounter + 1 %>
            <% end %>
            <% end %>
            <a href="/programming"><h3>Check out my portfolio for more info on my projects!</h3></a>
        </div>
    </section>
    <footer id="contact">
        <div id="footer-content">
            <h1>Contact</h1>
            <a class="icon-with-info" href="http://github.com/kalraA">
                <span class="mega-octicon octicon-mark-github"></span>
                <p class="icon-desc">Github</p>
            </a>
            <a class="icon-with-info" href="mailto:agastya.kalra@gmail.com">
                <span class="mega-octicon octicon-comment"></span>
                <p class="icon-desc">Email</p>
            </a>
            <a class="icon-with-info" href="http://kalraa.github.io">
                <span class="mega-octicon octicon-file-text"></span>
                <p class="icon-desc">Resume</p>
            </a>
        </div>
    </footer>
    </main>
