<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class = "my-nav" >
    <ul>
      <a href= "/"> <li class = 'my-Me'> <strong> Agastya Kalra </strong></li> </a>
      <a href= "/blog"><li class = 'my-navbar'> Blog </li> </a>
      <a href= "/portfolio"><li class = 'my-navbar'> Portfolio </li> </a>
      <a href= "/"><li class = 'my-navbar'> About </li></a>
    </ul>
  </div>
  <div class = "my-line"></div>
<%= yield %>


<br>
<div class = "my-line">
  </div>
<div class = "my-foot">
  <div id = "footStuff">
  <h2 class="my-footTitle"> I love meeting new people! Let's get in touch! </h2>
  <a class = "my-contact-button" href="mailto:agastyakalra@gmail.com">
    agastya.kalra@gmail.com
  </a>
  <a class = "my-contact-button" href="https://github.com/KalraA">
    Github
  </a>
  <a class = "my-contact-button" href="http://KalraA.github.io">
    Resume
  </a>
</div>
</body>
</html>
