<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height: 300px;
      margin: auto;
  }
  </style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class = "my-nav" >
    <ul>
      <a href= "/"> <li class = 'my-Me'> <strong> Agastya Kalra </strong></li> </a>
      <a href= "/"><li class = 'my-navbar'> Blog </li> </a>
      <a href= "/"><li class = 'my-navbar'> Portfolio </li> </a>
      <li class = 'my-navbar'> About </li>
    </ul>
  </div>
  <div class = "my-line"></div>
<%= yield %>


<br>
<div class = "my-line">
  </div>
<div class = "my-foot">
  <div id = "footStuff">
  <h2 class="my-footTitle"> I love meeting new people! Let's get in touch! </h2>
  <p class = "my-contact-button">
    agastya.kalra@gmail.com
  </p>
  <p class = "my-contact-button">
    Github
  </p>
  <p class = "my-contact-button">
    Linkedin
  </p>
  <p class = "my-contact-button">
    Youtube
  </p>
  <p class = "my-contact-button">
    Google
  </p>
</div>
</body>
</html>
